<a href="https://colab.research.google.com/github/smannan/LIFXBulbAnalysis/blob/main/JoinPGEAndBulbData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd

In [49]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
def drop_seconds_from_timestamp(df):
  df['timestamp'] = pd.to_datetime(df['timestamp'])
  df['timestamp'] = df['timestamp'].dt.strftime('%Y-%m-%d %H:%M')
  df['timestamp'] = pd.to_datetime(df['timestamp'])

In [51]:
def agg_pge_hourly(df):
  df['timestamp'] = pd.to_datetime(df['timestamp'])
  df['timestamp'] = df['timestamp'].dt.strftime('%Y-%m-%d %H')
  df['timestamp'] = pd.to_datetime(df['timestamp'])

  df = df.groupby(['timestamp']).agg({
    'cost': 'sum',
    'usage': 'sum'
  })

  return df.reset_index()

In [52]:
bulb_file = '/content/drive/Shared drives/CMPE295B/FinalBulbData/2021-08-26_13_2021-09-25_00_hourly.csv'
bulb_data = pd.read_csv(bulb_file, infer_datetime_format = True).drop(['Unnamed: 0'], axis=1, inplace=False)
bulb_data['timestamp'] = pd.to_datetime(bulb_data['timestamp'])

In [53]:
pge_file = '/content/drive/Shared drives/CMPE295B/ProcessedPGEData/pge_data_from_influx_2021-08-26-00_15_2021-09-21-00_00.csv'
pge_data = pd.read_csv(pge_file, infer_datetime_format = True).drop(['Unnamed: 0'], axis=1, inplace=False)
pge_hourly = agg_pge_hourly(pge_data)

In [54]:
print (len(pge_hourly))
pge_hourly.head()

625

            timestamp  cost  usage
0 2021-08-26 00:00:00  0.06   0.24
1 2021-08-26 01:00:00  0.08   0.29
2 2021-08-26 02:00:00  0.08   0.28
3 2021-08-26 03:00:00  0.08   0.28
4 2021-08-26 04:00:00  0.08   0.28

In [55]:
print (len(bulb_data))
bulb_data.head()

708

            timestamp  brightness  kelvin    kWH
0 2021-08-26 13:00:00         1.0  2700.0  0.119
1 2021-08-26 14:00:00         1.0  2700.0  0.510
2 2021-08-26 15:00:00         1.0  2700.0  0.510
3 2021-08-26 16:00:00         1.0  2700.0  0.510
4 2021-08-26 17:00:00         1.0  2700.0  0.510

In [56]:
merged = pd.merge_asof(bulb_data, pge_hourly, on='timestamp')

In [57]:
print (len(merged))
merged.head()

708

            timestamp  brightness  kelvin    kWH  cost  usage
0 2021-08-26 13:00:00         1.0  2700.0  0.119  0.09   0.35
1 2021-08-26 14:00:00         1.0  2700.0  0.510  0.11   0.38
2 2021-08-26 15:00:00         1.0  2700.0  0.510  0.09   0.34
3 2021-08-26 16:00:00         1.0  2700.0  0.510  0.08   0.29
4 2021-08-26 17:00:00         1.0  2700.0  0.510  0.11   0.40

In [59]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 708 entries, 0 to 707
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   708 non-null    datetime64[ns]
 1   brightness  708 non-null    float64
 2   kelvin      708 non-null    float64
 3   kWH         708 non-null    float64
 4   cost        708 non-null    float64
 5   usage       708 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 38.7 KB

In [63]:
merged.describe()

       brightness       kelvin         kWH        cost       usage
count  708.000000   708.000000  708.000000  708.000000  708.000000
mean     0.160852   447.257533    0.080858    0.078347    0.294449
std      0.352692   984.988367    0.178429    0.060254    0.229621
min      0.000000     0.000000    0.000000    0.020000    0.080000
25%      0.000000     0.000000    0.000000    0.040000    0.120000
50%      0.000000     0.000000    0.000000    0.080000    0.270000
75%      0.000000     0.000000    0.000000    0.090000    0.360000
max      1.000000  3500.000000    0.510000    0.520000    1.960000

In [68]:
merged['percent_usage_by_bulb'] = (merged['kWH'] / merged['usage']) * 100
merged['cost_per_bulb'] = (merged['kWH'] / merged['usage']) * merged['cost']

In [69]:
merged.head()

            timestamp  brightness  ...  percent_usage_by_bulb  cost_per_bulb
0 2021-08-26 13:00:00         1.0  ...              34.000000       0.030600
1 2021-08-26 14:00:00         1.0  ...             134.210526       0.147632
2 2021-08-26 15:00:00         1.0  ...             150.000000       0.135000
3 2021-08-26 16:00:00         1.0  ...             175.862069       0.140690
4 2021-08-26 17:00:00         1.0  ...             127.500000       0.140250

[5 rows x 8 columns]

In [76]:
print ('Total cost for electricity = {0}$'.format(merged['cost'].sum()))
print ('Total cost for light bulbs = {0}$'.format(merged['cost_per_bulb'].sum()))
print ('Total percentage used by bulbs = {0}%'.format(merged['cost_per_bulb'].sum() / merged['cost'].sum()))

Total cost for electricity = 55.47$
Total cost for light bulbs = 14.944028687316058$
Total percentage used by bulbs = 0.26940740377350025%